#game {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow-y: hidden;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	border-right: 4px solid #333333;
	background-color: #ecf0f1;
	cursor: crosshair;
}

.toolbar {
	position: relative;
	top: 0;
	left: 0;
	padding-left: 10px;
	width: 73%;
	height: 60px;
	background-color: #34495e;
	color: white;
	border-bottom: 3px solid #2c3e50;
	z-index: 1000;
}

.color {
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
}
#green {
	background-color: #2ecc71;
}
#blue {
	background-color: #3498db;
}
#red {
	background-color: #e74c3c;
}
#yellow {
	background-color: #f1c40f;
}
#black {
	background-color: #242424;
}
#orange {
	background-color: #e67e22;
}

#eraser {
	position: absolute;
	left: 240px;
	top: 0px;
}
#white {
	margin-left: 30px;
	background-color: #ecf0f1;
}
#clr {
	position: absolute;
	left: 300px;
}

#hud {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 550px;
	height: 100%;
	z-index: 2;
	background-color: #34495e;
	border-left: 3px solid #2c3e50;
}
.countdown {
	color: white;
	text-align: center;
	font-size: 95px;
	border-bottom: 1px solid #2c3e50;
	width: 90%;
	margin: 25px auto;
	border-bottom: 1px solid #2c3e50;
}
.scores {
	width: 90%;
	margin: 25px auto;
	border-bottom: 1px solid #2c3e50;
}

.chat {
	width: 90%;
	margin: 25px auto;
}

.chat .list-group .list-group-item{
	height: 300px;
	overflow-y: scroll;
}
.chat input {
	width: 100%;
	border: 3px solid #95a5a6;
	padding: 5px;
	border-radius: 3px;
}